In [6]:
# Q1 Answer: Printing numbers from 1 to 5 using while loops
i = 1
while i<=5:
    print(i, end="")
    i += 1

12345

In [7]:
# Q2 Answer: Calculate sum of numbers from 1 to 10 using a while loop
i = 1
sum = 0
while i <= 10:
    sum += i
    i += 1
print("The sum of all numbers from 1 to 10 is", sum)

The sum of all numbers from 1 to 10 is 55

In [2]:
# Q3 Answer: Calculating the factorial of a number using the for loop

n = int(input("Enter n : "))
# We know that factorial does not exist for negative numbers and 0!=1!=1
factorial = 1
if n < 0:
    print("Factorial does not exist for negative numbers")
elif n == 0 or n == 1:
    print("The factorial of", n, "is 1")
else:
    for i in range(1,n+1):
        factorial = factorial*i
    print("The factorial of", n, "is", factorial)

Enter n :  5

The factorial of 5 is 120

In [1]:
# Q4 Answer: Number of vowels in a string using a for loop
#take user input
String = input('Enter the string :')
#Initialize the count variable
count = 0
#to check for less conditions
#keep string in lowercase
String = String.lower()
# Iterate over the string to find vowels
for i in String:
    if i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u':
        #if True
        count+=1
#check if any vowel found
if count == 0:
    print('No vowels found')
else:
    print('Total vowels are :', str(count))

Enter the string : Urvi

Total vowels are : 2

In [3]:
# Q5 Answer; Printing a pattern of triangle using a nested loop 
n = int(input("Enter n: "))
for i in range(1, n+1):  # Loop for rows
        for j in range(1,i+1):  # Loop for columns
          print(j,end="")
        print()

Enter n:  4

1
12
123
1234

In [4]:
# Q6 Answer: Generating a multiplication table using nested loops
n = int(input("Enter n: "))
for i in range(1,11):
    print(n, "*", i, "=", n*i)

Enter n:  13

13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130